body {
  background-color: rgb(5, 93, 108);
  color: rgb(228,228,228);
  font-family: Garamond, serif;
}

a{
  color: rgb(215,175,96);
}

nav{
  height: 25px;
  background: rgb(0, 50, 56);
  padding: 4px;
}

nav :hover{
  background: grey;

}
